.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
}

.dashboard-header-container {
  margin-top: 2px;
  margin-bottom: none;
  margin-right: 40px;
  margin-left: 40px;
  padding: 0;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: none;
}

.right-buttons {
  display: flex;
  gap: 5px;
}

.dashboard-header button {
  border: none;
  background-color: #1520a6;
  transition: background-color 0.3s, color 0.3s;
  padding: 18px;
  font-size: 12px;
  font-family: "Open Sans";
  border-radius: 50%;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  margin: none;
}

.dashboard-header button:hover {
  background-color: #1520a6;
  color: #f0f8ff;
}

.dashboard-header p {
  font-size: 12px;
}

.dashboard-header h3 {
  margin: none;
}

.icon {
  color: #1520a6;
  font-size: 24px;
  padding: 5px;
  margin-right: 5px;
}

/* Body */
.dashboardbody {
  margin: none;
  padding: none;
  flex: 1;
  overflow-y: auto;
}

.splits-containerd {
  display: flex;
  width: 98vw;
  height: 80vh;
}

.white-link {
  text-decoration: none;
  color: #f0f8ff;
}

.split-itemsd1,
.split-itemsd2 {
  border: none;
  padding-top: 10px;

  font-family: "Open Sans";
}

.split-itemsd1 {
  background-color: #1520a6;
  border-radius: 5px;
  font-size: 13px;
  color: #f0f8ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  flex: 20%;
  padding: 10px;
  height: 450px;
  /* text-align: center;
    margin-left: ; */
}

.split-itemsd1 p {
  padding-bottom: 10px;
  padding-left: 30px;
  padding-top: 10px;
}

.split-itemsd1 p:hover {
  background-color: #f0f8ff;
  color: #1520a6;
}

.split-itemsd2 {
  margin-left: 10px;
  flex: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.card-on-dashboard {
  width: 200px;
  height: 50px;
}

.add-property {
  width: 80px; 
  height: 80px;
  border-radius: 50%; 
  background-color: #1520a6; 
  color: #f0f8ff; 
  border: none; 
  cursor: pointer; /* Add pointer cursor for better user experience */
  font-size: 14px; /* Set the font size */
}

/* Add hover styles for visual feedback */
.add-property:hover {
  background-color: #f0f8ff;
  color: #1520a6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

